/* import font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


/* Start Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
body{
    height: 4000px;  /* Remove When Project End */
    background: #111;
} 
/* End Global */

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin:auto;

}


.loader_bg {
    display: flex;
    position: fixed;
    z-index: 999999;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
    white-space: nowrap;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    overflow-y: hidden;
    transition: all 0.2s ease;
}
.loader {
    position: relative;

}
.loader span{
    position: relative;
    text-size-adjust: auto;
    font-size: 2em;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    animation: animate 2s ease-in-out infinite;
    animation-delay : calc(0.1s * var(--i));
    text-shadow: -1px 9px 11px rgba(124, 126, 136, 0.2);
}
@keyframes animate{
    0%,40%,100%
    {
        transform: translateY(0);
    }
    20%
    {
        transform: translateY(-50px);
    }
}



/* Start Navbar */

.navbar{
    position: fixed;
    /* background-color: crimson; */
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.4s ease;
    z-index: 999;
}
.navbar.sticky{
    background-color: crimson;
    padding: 15px 0;

}
.navbar .max-width{
    display:flex;
    align-items: center;
    justify-content: space-between;
        
}
.navbar .logo a {
    color :#fff;
    font-size: 35px;
    font-weight: 600;

}
.navbar .logo a span{
    color: crimson;
}
.navbar.sticky .logo a span{
    color: white;
    transition: color 0.6s ease;

}
.navbar .menu li {
    display: inline-block;
    list-style: none;
}
.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.6s ease;
}

.navbar .menu li a:hover{
    color:crimson;
    transition: 0.6s;

}
.navbar.sticky .menu li a:hover{
    color: rgb(214, 209, 209);
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

/* End Nav */




/* Start Home */

.home{
    display: flex;
    background: url('/img/banner.jpg') no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
    background-size:cover
    
}
.home .max-width{
    margin : auto 0 auto 40px;
    border-left: 3px solid crimson;
    border-radius: 15px;
    
}
.home .home-content .text-1{
    font-size: 27px;
    transition: linear;}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color :white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    font-weight: 500;
    border: 3px solid crimson;
    outline: none;
    transition: all 0.6s ease;
}
.home .home-content a:hover{
    background: none;
    color : crimson;
    transition: all 0.6s ease;

}
/* start about */
section{
    padding: 100px 0;

}
.about{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    height: 100vh;
}
.about .max-width .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.about .max-width .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 4px;
    background: black;
    transform: translateX(-50%);
}
.about .max-width .title::after{
    content: "Who i am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: white;
    transform: translateX(-50%);
}
.about .max-width .about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about .max-width .about-content .left{
    width: 45%;
}
.about .max-width .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;

}
.about .max-width .about-content .right{
    width: 55%;
}
.about .max-width .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}
.about .max-width .about-content .right .text span{
    color: crimson;
}
/* .about .max-width .about-content .right p{

} */
.about .max-width .about-content .right a{
    display: inline-block;
    background: crimson;
    color :white;
    font-size: 25px;
    padding: 2px 30px;
    margin-top: 20px;
    border-radius: 6px;
    font-weight: 500;
    border: 3px solid crimson;
    outline: none;
    transition: all 0.6s ease;
}
.about .max-width .about-content .right a:hover{
    background: none;
    color : crimson;
    transition: all 0.6s ease;
}















/* responsive media query start  */
@media (max-width: 1300px){
    .home .max-width{
        
    }
}
@media (max-width: 1104px){
    .about .max-width .about-content .left img{
        height: 350px;
        width: 350px;

    
    }
}
@media (max-width: 991px){
    .max-width{
        padding: 0 30px;
    }
}

@media (max-width: 947px){

    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before{
        content: "\f00d";
        
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #111; 
        right: -100%;
        top: 0;
        text-align: center;
        padding-top: 8vh;
        transition: all 0.7s ease;
    }
    .navbar .menu.active{
        right: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .max-width{
        width: 100%;
    }
    .home .home-content a{
        font-size: 25px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .max-width .about-content{
        display: block;

    }
    .about .max-width .about-content .column{
        width: 100%;
        display: inline-block;
        position: relative;
    }
    .about .max-width .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;

    }
    .about .max-width .about-content .left img{
        width: 100%;
        height: auto;
    }
    .about .max-width .about-content .right{
        display: inline-block;
        text-align: center;        
    }

    
}
@media (max-width: 947px) , (max-height: 712px){
    .about{
        height: auto;
    }
}
@media (max-width: 698px){
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
}
@media (max-width: 429px){
    .loader_bg .loader{
        transform: scale(0.7);
    }
}
@media (min-width: 947px){
    .about .max-width .about-content .right{
        text-align: justify;        
              
    }
}