/* import font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
/* End import */

/* Start Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    height: 4000px;  /* Remove When Project End */
    background: #111; /* when any image not avilable */
    
} 
body::-webkit-scrollbar{
    display: none;
    transition: all 0.9s ease;
}
body.sticky::-webkit-scrollbar {
    display: block;
    transition: all 0.9s ease;

}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin:auto;
}
/* End Global */

/* Start Scroll bar for smartphone */
::-webkit-scrollbar {
    width: 10px !important;
}

 /* Track */
::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(17, 17, 17, 0.3) !important;
-webkit-border-radius: 10px !important;
border-radius: 10px !important;
}

 /* Handle */
::-webkit-scrollbar-thumb {
-webkit-border-radius: 10px !important;
border-radius: 10px !important;
background: crimson !important; 
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important; 

}
::-webkit-scrollbar-thumb:window-inactive {
background: crimson !important; 
}


/* End Scroll bar for smartphone */

/* Start loader  */
.loader_bg {
    display: flex;
    position: fixed;
    z-index: 999999;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
    white-space: nowrap;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    overflow-y: hidden;
    transition: all 0.2s ease;
}
.loader {position: relative;}
.loader span{
    position: relative;
    text-size-adjust: auto;
    font-size: 2em;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    animation: animate 2s ease-in-out infinite;
    animation-delay : calc(0.1s * var(--i));
    text-shadow: -1px 9px 11px rgba(124, 126, 136, 0.2);
}
@keyframes animate{
    0%,40%,100%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(-50px);
    }
}
/* End loader */

/* Start Navbar */
.navbar{
    position: fixed;
    /* background-color: crimson; */
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.4s ease;
    z-index: 999;
}
.navbar.sticky{
    background-color: crimson;
    padding: 15px 0;
}
.navbar .max-width{
    display:flex;
    align-items: center;
    justify-content: space-between; 
}
.navbar .logo a{
    color :#fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a:focus{outline: none;}
.navbar .logo a span{color: crimson;}
.navbar.sticky .logo a span{
    color: white;
    transition: color 0.6s ease;
}
.navbar .menu li {
    display: inline-block;
    list-style: none;
    transition: all 0.6s ease;
}
.navbar .menu li:hover{
    transform: scale(1.2);
}
.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: all 0.6s ease;
}
.navbar .menu li a:hover{
    color:crimson;
    transition: 0.6s;
}
.navbar.sticky .menu li a:hover{color:white;}
/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
/* End Nav */

/* Start Home */
.home{
    display: flex;
    background: url('/img/banner.jpg') no-repeat center;
    background-size:cover ;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin : auto 0 auto 40px;
    border-left: 3px solid crimson;
    border-radius: 15px; 
}
.home .home-content .text-1{
    font-size: 27px;
    transition: linear;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color :white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    font-weight: 500;
    border: 3px solid crimson;
    outline: none;
    transition: all 0.6s ease;
}
.home .home-content a:hover{
    background: none;
    color : crimson;
    transition: all 0.6s ease;
}
/* start about */
section{padding: 100px 0;}
.about{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    height: 100vh;
}
.about .max-width .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.about .max-width .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 4px;
    background: black;
    transform: translateX(-50%);
}
.about .max-width .title::after{
    content: "Who i am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: white;
    transform: translateX(-50%);
}
.about .max-width .about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about .max-width .about-content .left{width: 45%;}
.about .max-width .about-content .left img{

    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .max-width .about-content .right{width: 55%;}
.about .max-width .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}
.about .max-width .about-content .right .text span{
    color: crimson;
}
/* .about .max-width .about-content .right p{

} */
.about .max-width .about-content .right a{
    display: inline-block;
    background: crimson;
    color :white;
    font-size: 25px;
    padding: 2px 30px;
    margin-top: 20px;
    border-radius: 6px;
    font-weight: 500;
    border: 3px solid crimson;
    outline: none;
    transition: all 0.6s ease;
}
.about .max-width .about-content .right a:hover{
    background: none;
    color : crimson;
    transition: all 0.6s ease;
}
/* End about */

/* Start services */
.services{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    color: white;
    background-color: #111;
}
.services .max-width .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
.services .max-width .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 4px;
    background: rgb(255, 255, 255);
    transform: translateX(-50%);
}
.services .max-width .title::after{
    content: "What i provide";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 18px;
    color: crimson;
    padding: 5px;
    background: #111;
    transform: translateX(-50%);
}
.services .services-content{
    position: relative;/* to make divs wrap */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap:40px;
    max-width: 100%;
    margin-top: 40px;
}
.services .services-content .card{
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    transition: all 0.3s ease;
    min-width: 100%;

}
.services .services-content .card:hover{
    background-color: crimson;
    
}
.services .services-content .card .box{
    transition: all 0.3s ease;
}
.services .services-content .card:hover .box{
    transition: all 0.3s ease;

    transform: scale(1.05);
}
.services .services-content .card i{
    font-size: 50px;
    color: crimson;
    padding-bottom: 15px;
}
.services .services-content .card:hover i{
    color: white;
    transition: all 0.3s ease;
}
.services .services-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px;
}

/* End services */









/* responsive media query start  */
@media (max-width: 1300px){
    .home .max-width{
        
    }
}
@media (max-width: 1104px){
    .about .max-width .about-content .left img{
        height: 350px;
        width: 350px;

    
    }
}
@media (max-width: 991px){
    .max-width{
        padding: 0 30px;
    }
}

@media (max-width: 947px){

    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before{
        content: "\f00d";
        
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #111; 
        right: 0;
        bottom: -100%;
        text-align: center;
        padding-top: 8vh;
        transition: all 0.7s ease;
    }
    .navbar .menu.active{
        bottom: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .max-width{
        width: 100%;
    }
    .home .home-content a{
        font-size: 25px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .max-width .about-content{
        display: block;

    }
    .about .max-width .about-content .column{
        width: 100%;
        display: inline-block;
        position: relative;
    }
    .about .max-width .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;

    }
    .about .max-width .about-content .left img{
        width: 100%;
        height: auto;
    }
    .about .max-width .about-content .right{
        display: inline-block;
        text-align: center;        
    }
    

    
}
/* Modified height when it is 712 px  */
@media (max-width: 947px) , (max-height: 712px){
    .about, .services{
        height: auto;
    }
}
@media (max-width: 698px){
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
}
@media (max-width: 429px){
    .loader_bg .loader{
        transform: scale(0.7);
    }
}
@media (max-width: 352px){
    .home .home-content .text-2{
        font-size: 45px;
    }
    .home .home-content .text-3{
        font-size: 25px;
    }
    .services .max-width .title{
        position: relative;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 60px;
        padding-bottom: 20px;
        font-family: 'Ubuntu', sans-serif;
        color: white;
    }
    .services .max-width .title::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 180px;
        height: 4px;
        background: rgb(255, 255, 255);
        transform: translateX(-50%);
    }
    .services .max-width .title::after{
        content: "What i provide";
        position: absolute;
        bottom: -12px;
        left: 50%;
        font-size: 15px;
        color: crimson;
        padding: 5px;
        background: #111;
        transform: translateX(-50%);
        
    }
}
@media (max-width: 330px){
    .home .home-content a{
        font-size: 20px;
    }
    .home .home-content .text-2{
        font-size: 40px;
    }
    .home .home-content .text-3{
        font-size: 20px;
    }
}

@media (min-width: 947px){
    .about .max-width .about-content .right{
        text-align: justify;
    }
}